:root {
  --bg-color: #010;
  --bg-color-faded: rgba(50, 70, 50, 0.5);
  --text-color: rgba(125, 213, 130, 0.5);
  --text-shadow-color: rgba(125, 213, 130, 1);
}

/* Scrollbar hidden */
::-webkit-scrollbar {
  width: 0;
}

/* General resets and styling */
html {
  overflow: hidden;
}

/* WTFPL styling */

.WTFPL a::before {
  content: none;
}
.WTFPL a::after {
  content: none;
}

.WTFPL svg {
  fill: var(--text-color);
  filter: drop-shadow(0 0 2px var(--text-shadow-color))
    drop-shadow(0 0 12px var(--text-shadow-color));
}
.WTFPL :hover {
  fill: var(--bg-color);
  filter: drop-shadow(0 0 2px var(--bg-color))
    drop-shadow(0 0 12px var(--bg-color));
}

body {
  background: var(--bg-color);
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-family: "VT323", monospace;
  color: var(--text-color);
  text-shadow: 0 0 2px var(--text-shadow-color),
    0 0 12px var(--text-shadow-color);
  transform: skewX(0.1deg);
}

/* Elements styling */
h1,
p,
a,
summary,
g,
priv {
  font-size: 3vw;
  font-weight: normal;
  margin: 0;
  font-family: "VT323", monospace;
  color: var(--text-color);
  text-shadow: 0 0 2px var(--text-shadow-color),
    0 0 12px var(--text-shadow-color);
}

.b1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
summary,
a,
g,
priv {
  list-style: none;
  cursor: pointer;
  padding: 0 1ch;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

/* Custom content before elements */
ul {
  margin: 0 0 1em;
  list-style: none;
}

ul li::before {
  content: "¤ ";
  animation: blink6 0.5s steps(1) 1;
}

summary:before {
  content: "> ";
}

a:before {
  content: "«";
}

a:after {
  content: "»";
}

/* Hover effects */
summary:hover,
a:hover,
g:hover,
priv:hover {
  color: var(--bg-color);
  background: var(--text-shadow-color);
  box-shadow: 0 0 2px var(--text-shadow-color),
    0 0 12px var(--text-shadow-color);
  text-shadow: 0 0 2px var(--bg-color), 0 0 12px var(--bg-color);
}

/* Screen styling */
.screen {
  margin: auto;
  width: 40ch;
  font-size: 3vw;
  animation: glow 7s infinite alternate ease-in;
}

/* Centered content */
.center {
  text-align: center;
}

/* Pulsing effect */
.pulse {
  animation: pulse 1.5s ease-in infinite;
  opacity: 1;
}

/* Borders */
.border:before {
  content: "** ";
  float: left;
}

.border:after {
  content: " **";
  float: right;
}

/* Keyframes for animations */
@keyframes pulse {
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 0.1;
  }
  85% {
    opacity: 1;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px var(--text-shadow-color),
      0 0 12px var(--text-shadow-color);
  }
  to {
    text-shadow: 0 0 1px var(--text-shadow-color),
      0 0 6px var(--text-shadow-color);
  }
}

.license {
  font-size: 2vw;
  margin: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* Responsive adjustments */
@media screen and (max-width: 1000px) {
  body,
  h1,
  p,
  p1,
  a,
  g,
  priv,
  summary {
    margin: auto;
    font-size: 6vw;
  }

  .screen {
    font-size: 6vw;
    margin: 0 1ch 0 1ch;
  }
  .license {
    font-size: 5vw;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  body,
  h1,
  p,
  a,
  g,
  priv,
  summary {
    margin: auto;
    font-size: 6vw;
  }
  .screen {
    font-size: 6vw;
    margin: 0 1ch 0 1ch;
  }
  .license {
    font-size: 5vw;
    text-align: center;
    margin: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.hidden {
  color: transparent;
  text-shadow: none;
  background: none;
}
.hidden :hover {
  color: var(--bg-color);
  background: var(--text-shadow-color);
  box-shadow: 0 0 2px var(--text-shadow-color),
    0 0 12px var(--text-shadow-color);
  text-shadow: 0 0 2px var(--bg-color), 0 0 12px var(--bg-color);
}
